/* AddBus.css */

.add-bus-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
  }
  
  .add-bus-title {
    font-size: 24px;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-label {
    display: block;
    margin: 10px 0;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .checkbox-field {
    margin-top: 5px;
  }
  
  .amenities-checkboxes label {
    display: block;
    margin-bottom: 5px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  